*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-visual{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.main-visual-text{
  padding: 20px;
}

main{
  width: 840px;
  margin: 50px auto;
}

/*marginを autoで中央に揃える時はwidthで幅の設定をする！！忘れがちだから気をつけるように！！
margin 50px(上下）　auto（左右）*/

.blog-item1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.blog-item2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.blog-item3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.blog-item4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}
